html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.notes-description {
    display: none;
}

.notes {
    border-bottom: solid black 1px;
    margin-bottom: 2em;
}
starred {
    background-color: yellow;
}