@{
    Layout = "_Layout";

    ViewData["Title"] = "Login";
}

<form action="LoginPost" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username">

    <label for="password">Password: </label>
    <input type="password" name="password">

    <input type="submit" value="LOGIN">
</form>